service: beacon-cost-insight

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "ce:*"
      Resource:
        - "*"

functions:
  costInsight:
    handler: handler.costInsight
    events:
      - http:
         path: /
         method: post
